
*{
    box-sizing: border-box;   /* Esta regla universal le dice a todos los elementos del sitio que incluyan sus bordes
                              y rellenos (padding) dentro de su tamaño total. Evita que las cajas se deformen 
                         o se salgan de su lugar al agregar márgenes, facilitando el diseño y el uso de porcentajes.*/
}
                    

                                    /* HOY VEREMOS: POSICIONACMIENTOS*/
body{
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    color:black
}

header{
    background-color: #114882;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;              /*"position: fixed":sirve para mantener un elemento en una posición fija y 
                                visible en la pantalla, sin importar si el usuario hace scroll en la página.*/
    width: 100%;                        
    top:0;
}

main{
    margin-top:140px;
}

.hero{
    margin-top: 170px;
    background-image: linear-gradient(to right, pink, rgb(101, 218, 218));
    color: white;
    text-align: center;
    background-size: cover;        /*" background-size: cover": sirve para llenar todo el área*/
    background-position: center;   /* "background-position: center": sirve para centrar imagen*/
    padding: 80px;
}

.tituloHero{
    color:rgb(191, 145, 234)
}

h1{
    font-size: 40px;
    margin-bottom: 15px;
}

/*
.navbar{
    color:white;
}*/

nav a{
    display: inline-block;         /* "display: inline-block": queda en línea pero sí acepta width y height*/
    color: white;
    margin:10px;
    font-size:20px;
    padding: 10px 15px;
    background-color: #3c7ce9cc;
    border-radius: 5px;
}

nav a:hover{
    background-image: linear-gradient(to right, pink, rgb(101, 218, 218)); /* Sirve para crear un fondo con degradado.*/
    color: #3c7ce9cc;
}


.sticky{
    position: sticky;
    background-color: #3c7ce9cc;    /*  position: sticky en CSS sirve para que un elemento se desplace normalmente
                                     con la página,pero se quede "pegado" en la pantalla al llegar a una posición específica*/
    color: white;
}

.caja{
    height: 100px;
    overflow: scroll;               /* "overflow: scroll" : agrega barras para analizar el contenido */
    
}


section{
    background-color: rgb(248, 233, 210);
    margin: 30px;
    padding: 20px;
    border: 1px solid rgb(114, 106, 106);
    border-radius: 10px;
}

h2{
    color: #114882;
    margin-bottom: 20px;
}

p{
    font-size: 16px;
    line-height: 1.5;
}

img{
    border-radius: 10px;
    border: 3px solid  #114882;
    margin-top: 10px;
}

figcaption{
    margin-top: 10px;
    font-style: italic;
    color: gray;
}

table{
    width: 100%;
    border-collapse: collapse;   /*sirve para fusionar los bordes dobles de las celdas de una tabla en una sola línea.*/
    margin-top: 20px;
}

th{
    background-color: #114882;
    color: white;
    padding: 12px;
}

tr{
    padding: 12px;
    background-color: #dce0e4;
}

td{
    padding: 12px;
    background-color: #dce0e4;
}

form{
    margin-top: 20px;
}

fieldset{
    border:2px solid #114882;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

legend{
    color:#114882;
    font-weight: bold;
    padding: 10px;
}

input,select,textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid rgb(255, 242, 229);
    font-size: 15px;
}

input[type="radio"]{
    width: auto;
}

button{
    /*background-color:#114882;*/
    background-image:linear-gradient(to right, pink, rgb(101, 218, 218));
    color:white;
    border-radius: 5px;
    font-size: 16px;
    background-size: cover;
    background-position: center;
}


/* ASIDE */

aside{

    background-color: white;

    margin: 30px;

    padding: 20px;

    border-radius: 10px;

    border: 1px solid #dcdcdc;
}


/* FOOTER */

footer{

    background-color: #1e3a5f;

    color: white;

    text-align: center;

    padding: 20px;

    margin-top: 30px;
}


/* HR */

hr{

    border: 1px solid #dcdcdc;
}
